body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 0px 10px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav div {
    padding: 0px 10px 0px 0px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    color: red;
    top: 0;
    right: 0px;
    font-size: 36px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  
  
  
  /* The popup chat - hidden by default */
  .sidenav .deadline {
    position: absolute;
    width: 260px;
    height: 70px;
    margin-left: 20px;
    bottom: 400px;
    background-color: white;
    border-radius: 10px;
  }
  
  .deadline-title {
    background-color: red;
    position: absolute;
    width: 260px;
    height: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
  }
  
  .deadline .deadline-wrapper {
    position: absolute;
    width: 260px;
    height: 40px;
    bottom: 0;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* The popup chat - hidden by default */
  .sidenav .form-popup {
    position: absolute;
    width: 280px;
    height: 380px;
    margin-left: 10px;
    bottom: 10px;
    border: 3px solid #f1f1f1;
  }
  
  /* Add styles to the form container */
  .sidenav .form-popup {
    padding: 10px;
  }
  
  /* Full-width textarea */
  .form-popup textarea {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 215px;
    height: 35px;
    border: none;
    background: white;
    resize: none;
  }
  
  /* When the textarea gets focus, do something */
  .sidenav .form-popup textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-popup .btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    float: right;
    opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
  .form-popup .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
  .chat-wrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 300px;
    border-radius: 10px;
    width: 260px;
    background-color: white;
  }
  
  .chat-title {
    background-color: #4CAF50;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 255px;
    height: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
  }
  
  /* Chat containers */
  .container {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px;
    float: left;
    width: 200px;
    margin: 0px 0px 10px 10px;
  }
  
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Chat containers */
  .container-me {
    background-color: #4CAF50;
    border-radius: 5px;
    float: right;
    width: 120px;
    margin: 0px 0px 10px 0px;
    display: none;
  
  
  }
  
  /* Clear floats */
  .container-me::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .msg {
    color: white;
  }
  