body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 0px 10px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav .file-title {
    text-decoration: none;
    position: absolute;
    top: 10px;
    padding: 0px 0px 0px 10px;
    margin-left: 20px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    height: 40px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
  }
  
  .sidenav a:hover {
    color: black;
  }

  .file-title i {
    padding: 10px;
    color: #818181;
    font-size: 20px;
  }

  .file-title i:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    color: red;
    top: 2px;
    right: 0px;
    font-size: 36px;
    transition: 0.3s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  /* The popup chat - hidden by default */
  .sidenav .deadline {
    position: absolute;
    width: 260px;
    height: 70px;
    margin-left: 20px;
    top: 110px;
    background-color: white;
    border-radius: 5px;
  }
  
  .deadline-title {
    background-color: red;
    position: absolute;
    width: 260px;
    height: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .deadline .deadline-wrapper {
    position: absolute;
    width: 260px;
    height: 40px;
    bottom: 0;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
  }



  .sidenav .task-delegation {
    width: 260px;
    height: 150px;
    margin-left: 20px;
    position: absolute;
    bottom: 390px;
    background-color: white;
    border-radius: 5px;
  }
  
  .task-delegation-title {
    background-color: orange;
    position: absolute;
    width: 260px;
    height: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .task-delegation .task-delegation-wrapper {
    position: absolute;
    width: 260px;
    height: 120px;
    top: 30px;
    color: black;
    font-size: 20px;
  }

  .task-delegation a {
    font-size: 15px;
    color: black;
    cursor: pointer;
  }

  .task-delegation a:hover {
    background-color:  #f1f1f1;
  }

  .task-row {
    position: relative;
    cursor: pointer;
  }

  .task-row:hover {
    background-color:  #f1f1f1;
  }

  .task-row img {
    position: absolute;
    top: 5px;
    right: 0px;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: 1px solid black;
    margin-right: 10px;
  }
  
  /* The popup chat - hidden by default */
  .sidenav .form-popup {
    position: absolute;
    width: 280px;
    height: 370px;
    margin-left: 10px;
    bottom: 10px;
  }
  
  /* Add styles to the form container */
  .sidenav .form-popup {
    padding: 10px;
  }
  
  /* Full-width textarea */
  .form-popup textarea {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 215px;
    height: 35px;
    border: none;
    background: white;
    resize: none;
  }
  
  /* Set a style for the submit/login button */
  .form-popup .btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    float: right;
    opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
  .form-popup .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
  .chat-wrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 300px;
    border-radius: 5px;
    width: 260px;
    background-color: white;
  }
  
  .chat-title {
    background-color: #4CAF50;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 260px;
    height: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }
  
  /* Chat containers */
  .container {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px 5px 0 5px;
    float: right;
    width: 200px;
    margin: -5px 10px 30px 10px;
    position: relative;
  }
  
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  .container img {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0px;
    left: -40px;
    border-radius: 15px;
    border: 1px solid black;
  }
  
  /* Chat containers */
  .container-me {
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 5px 5px 0 5px;
    float: right;
    margin: -5px 10px 30px 0px;
    display: none;
    position: relative;
    width: 200px;
  }
  
  /* Clear floats */
  .container-me::after {
    content: "";
    clear: both;
    display: table;
  }

  .container-me img {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0px;
    left: -40px;
    border-radius: 15px;
    border: 1px solid black;
  }

  
  .container .time-others {
    width: 50px;
    height: 20px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 0 0 5px 5px;
    border: 2px solid gray;
    font-size: 10px;
  
    /* Position the tooltip */
    position: absolute;
    bottom: -20px;
    right: -2px;
  }

  .container-me .time-me {
    width: 50px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 0 0 5px 5px;
    border: 2px solid green;
    font-size: 10px;
  
    /* Position the tooltip */
    position: absolute;
    bottom: -20px;
    right: -2px;
  }

  