.tags-input .tag {
    margin: 5px;
    padding: 8px;
    display: inline-block;
    background-color: #ddd;
    /*transition: all 0.3s linear;*/
    cursor: pointer;
    font-family: "RobotoDraft", "Roboto", sans-serif;
}

.tag:hover {
    background-color: cadetblue;
}

.close::after {
    content: 'x';
    font-weight: bold;
    display: inline-block;
    margin-left: 8px;
}

.close:hover::after {
    color: white;
}

.main-input {
    border: 0;
    outline: 0;
    padding: 8px;
}

.hashtag-input {
    width: 100%;
}

.hashtag {
    margin-right: 5px;
    padding: 5px;
    display: inline-block;
    /*transition: all 0.3s linear;*/
    cursor: pointer;
    font-family: "RobotoDraft", "Roboto", sans-serif;
    font-size: medium;
}
        